Source: gstreamer1.0-imx
Priority: extra
Maintainer: Josua Mayer <privacy@not.given>
Build-Depends: debhelper (>= 9),
 pkg-config,
 uauhelper,
 libgstreamer1.0-dev (>= 1.2.0),
 libgstreamer-plugins-base1.0-dev (>= 1.2.0),
 libfslvpuwrap-dev (>= 1.0.45),
 imx-gpu-viv-fb-dev,
 imx-gpu-viv-wl-dev,
 imx-gpu-viv-x11-dev,
 libx11-dev,
 imx-kernel-api,
 libfslcodec-dev,
 libg2d-dev
Standards-Version: 3.9.6
Section: libs

Package: gstreamer1.0-imx-fb
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, imx-gpu-viv-fb
Provides: gstreamer1.0-imx
Breaks: gstreamer1.0-imx
Replaces: gstreamer1.0-imx
Description: Todo
 T. O. D. O.

Package: gstreamer1.0-imx-wl
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, imx-gpu-viv-wl
Provides: gstreamer1.0-imx
Breaks: gstreamer1.0-imx
Replaces: gstreamer1.0-imx
Description: Todo
 T. O. D. O.

Package: gstreamer1.0-imx-x11
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, imx-gpu-viv-x11
Provides: gstreamer1.0-imx
Breaks: gstreamer1.0-imx
Replaces: gstreamer1.0-imx
Description: Todo
 T. O. D. O.
